#notification {
    position: absolute;
    background-color: rgb(224, 141, 33);
    width: 100vw;
    z-index: 1;
    font-size: x-large;
    text-align: center;
    padding: 10px 20px;

    box-sizing: border-box;

}

#notification>svg {
    position: absolute;
    right: 10px;
    cursor: pointer;
}